In [13]:
num = input("enternum")
if not num.isnumeric():
    print(num)
else:
    if int(num)> 100:
        print("100")
    else:
        print("afe")

enternum112a
112a

# Fuction

```python
def 함수이름([변수,변수,....]): # 변수 : 파라미터, 매개변수
    실행문
    실행문
    [return 반환값] # return이 실행 안되면 None이 반환
```
- 함수 이름 : 관례적으로 소문자만 사용. 단어와 단어는 '_' 연결.
    - 어떤 값을 제공하는 함수 : get_제공값.
        - ex) get_name(), get_age()
    - 어떤 값을 변경하는 함수 : set_변경할값.
        - ex) set_name(), set_age()
    - 어떤 값을 제거(삭제) 함수 : remove_삭제할 값
        - ex) remove_name(), remove_age()

In [15]:
def say_hello(): #선언부
    print("Hello") #구현부
    print("안녕")

In [33]:
def say_hello1(name):
    greeting = (f"{name}님 안녕하세요. {name}, Hello")
    return greeting

In [32]:
say_hello()
say_hello1("홍길동")

Hello
안녕

'홍길동님 안녕하세요. 홍길동, Hello'

In [34]:
g = say_hello1("Hong")
print(g)
print(g * 3)

Hong님 안녕하세요. Hong, Hello
Hong님 안녕하세요. Hong, HelloHong님 안녕하세요. Hong, HelloHong님 안녕하세요. Hong, Hello

In [51]:
def calculate(num1, num2):
    if num1 and num2 !=0:
        a = num1 + num2
        b = num1 - num2
        c = num1 * num2
        d = num1 / num2
        return (a,b,c,d , a+b+c+d)
    else:
        return "Invalid number"

In [45]:
print(calculate(10,5))

(15, 5, 50, 2.0, 72.0)

In [46]:
calculate(20,4)

(24, 16, 80, 5.0, 125.0)

In [52]:
a,b,c,d, e = calculate(20,4)
print(f" +:{a}, -:{b}, *:{c}, /:{d}, sum:{e}")

 +:24, -:16, *:80, /:5.0, sum:125.0

In [55]:
calculate(0,0)

'Invalid number'

## 매개변수 선언의 여러가지 문법
### Psositional Parameter(Argument)
- 매개변수를 순서대로 나열할것.
    - ex) def my_func(a,b,c):   *** a, b,c = parameter
- 호출할때 각 파라미터에 전달할 값을 순서대로 나열한다. 전달할 값을 생략할 수 없다.
    - ex) my_func(10,20,30) a<=10, b<=20, c<=30  *** 변수값 10,20,30 = argument
    - ex) my_func(10,20) c에 전달할 값이 없으므로 에러.

In [57]:
def print_info(name,age,height):
    print(f"name: {name}, age: {age}, height: {height}")

In [58]:
print_info("Hong", 33, 199)

name: Hong, age: 33, height: 199

In [59]:
print_info(33,198,"Lee") # 전달하려는 값의 위치가 순서대로여야 한다.

name: 33, age: 198, height: Lee

### 기본값이 있는 매개변수
- 매개변수를 선언할때 값을 대입한다
- 기본값이 있는 매개변수

### Keyword Parameter (Argument - 키워드 인자)
- 호출시 전달할 값(Argument)을 어떤 파라미터에 대입할 지 변수명을 이용해 지정할 수 있다.

In [60]:
def print_info2(name=None,age=None,height=None):
    print(f"name: {name}, age: {age}, height: {height}")

In [61]:
print_info2("Lee", 35,177.7)

name: Lee, age: 35, height: 177.7

In [62]:
print_info2("Hong")

name: Hong, age: None, height: None

In [63]:
print_info2(height = 190.5, name ="Kim", age = 55)

name: Kim, age: 55, height: 190.5

### 기본값이 없는 매개변수와 기본값이 있는 매개변수를 같이 선언할 때
- 기본값이 없는 매개변수들을 먼저 선언해야 한다.

In [14]:
#none default argument (address) can not follow 
#after default argument (ex:weight, height)
#기본값이 없는 매개변수 : 필수
#기본값이 있는 매개변수 : 옵션
def print_info3(name, age, height = None, weight = None):#, address): 
    print(f"name: {name}, age: {age}, height: {height}, weight: {weight}")

In [9]:
print_info3("Hong", 20,180,80)

name: Hong, age: 20, height: 80, weight: None

In [17]:
#기본값이 없는 매개변수는 변수 필수, 디폴트값이 있는경우는 특정매개변수만 입력가능
print_info3("hong", 20, weight = 22) #키워드 인자

name: hong, age: 20, height: None, weight: 22

# 가변인자
- def 함수명 ( * 변수명) : 0 ~ n개의 argument 값들을 튜플로 묶어서 받는다.

In [71]:
def sum_nums1(num_list):
    print(num_list)
    print(type(num_list))
    print(len(num_list))

In [72]:
sum_nums1([1,2,3,4,5,6])

[1, 2, 3, 4, 5, 6]
<class 'list'>
6

In [33]:
sum_nums1()

TypeError: sum_nums1() missing 1 required positional argument: 'num_list'

In [37]:
def sum_nums2(*num_list):
    print(num_list)
    print(type(num_list))
    print(len(num_list))

In [73]:
sum_nums2()
sum_nums2(1,2,3)
sum_nums2([1,2,3])

()
<class 'tuple'>
0
(1, 2, 3)
<class 'tuple'>
3
([1, 2, 3],)
<class 'tuple'>
1

In [74]:
nums = [10,20,30,40,50]

In [75]:
sum_nums2(nums) # 리스트 1개를 전달 리스트 자체가 1개의 원소.
sum_nums2(*nums) # 리스트의 원소를 풀어서 전달 10,20,30,40,50
sum_nums1(nums)
sum_nums2(*nums)

([10, 20, 30, 40, 50],)
<class 'tuple'>
1
(10, 20, 30, 40, 50)
<class 'tuple'>
5
[10, 20, 30, 40, 50]
<class 'list'>
5
(10, 20, 30, 40, 50)
<class 'tuple'>
5

In [69]:
# 리스트를 받아서 총 합계를 구하는 함수

def sum_nums(num_list):
    print(num_list)
    print(sum(num_list))
    result = 0
    for i in num_list:
        result+=i
    return result

In [70]:
sum_nums([1,2,3,4,5,6])

[1, 2, 3, 4, 5, 6]
21

21

## def 함수명( **변수명)
- 호출할 때 keyword 인자 형태로 전달하고 가변인수는 이것을 dictionary로 처리한다
- 관례적으로 변수명은 kwargs로 준다

In [80]:
def person_info(**info):
    print(info)
    print(type(info))
    print(len(info))

In [100]:
dinfo ={
    "id":"id1",
    "password":"1111",
    "name":"Hong"
}

In [98]:
person_info("Hong", 20)

TypeError: person_info() takes 0 positional arguments but 2 were given

In [109]:
person_info(**dinfo)
sum_nums1(dinfo)
sum_nums2(dinfo)

{'id': 'id1', 'password': '1111', 'name': 'Hong'}
<class 'dict'>
3
{'id': 'id1', 'password': '1111', 'name': 'Hong'}
<class 'dict'>
3
({'id': 'id1', 'password': '1111', 'name': 'Hong'},)
<class 'tuple'>
1

In [85]:
person_info()
person_info(name="Shin")
person_info(name = "Hong", age = 33) # key = value, key = value 형태로 저장

{}
<class 'dict'>
0
{'name': 'Shin'}
<class 'dict'>
1
{'name': 'Hong', 'age': 33}
<class 'dict'>
2

- 하나의 함수 정의당 가변인자는 각가 한개씩만 가능.
- 가변인자와 일반 매개변수를 같이 선언할 경우 일반 매개변수를 먼저 선언해야 한다.
- 이름관래 : \*args, \*\*kwargs

In [94]:
def test1(a,b,*args):
#def test1(a,b,*args, *args2):# 같은 종류의 가변인자를 2개이상 선언 불가.
    print(a,b,args)

In [95]:
test1(1,2,3,4,5,6,7,8)

1 2 (3, 4, 5, 6, 7, 8)

In [96]:
def test2(*args, **kwargs):
    print(args)
    print(kwargs)

In [97]:
test2(1,2,3,4,5,name ="Hong", age = 33)

(1, 2, 3, 4, 5)
{'name': 'Hong', 'age': 33}

## 변수의 유효범위 (Scope)

In [113]:
def my_func():
    x = 10 # 함수내에서 선언된 변수: Local variable => 함수내부에서만 사용가능
    print(x)

In [112]:
my_func()

10

In [127]:
var = 1000 # global variable

In [128]:
def test_func():
    print(var)

In [132]:
test_func()

88

In [130]:
def test_func1():
    global var # global var 값에 대입.
    var = 88
    print(var)

In [131]:
print(var)
test_func1()

1000
88

## 함수(Function)는 일급 시민객체(First class citizen object)
### First class citizen object (일급 시민객체)
- 변수에 대입할 수 있는 값.
- 함수 호출시 매개변수로 전달 할 수 있는 값. (argument)
- 함수의 반환값으로 사용할 수 있는 값.

In [24]:
def hello():
    print("안녕하세요")

In [25]:
hello() #hello 함수 호출

안녕하세요

In [27]:
my_hello = hello # hello 함수를 my_hello에 대입 => 새로운 이름 부여 my_hello)
my_hello()
my_hello = hello() # hello() 리턴값을 my_hello 변수에 대입
my_hello

안녕하세요
안녕하세요

In [30]:
def plus(num1, num2):
    return num1 + num2

In [137]:
v = plus(1,2)# plus 함수를 호출해서 반환된 값을 변수 V에 넣어라.
print(v)

3

In [138]:
v2 = plus # plus 함수 자체를 v2에 대입 => 새로운이름 v2를 부여.

In [140]:
print(v2(1,6))

7

In [141]:
print(plus(1,7))

8

In [142]:
print(v2) # returns memory location of function plus.

<function plus at 0x00000255AC200F70>

In [150]:
def wrapper(f):
    a = f(10,100)
    print(a)

In [151]:
wrapper(plus)

110

In [29]:
def calculate(func1):
    # n1, n2를 어떻게 처리할지 매개변수(func1)를 통해서 함수로 받는다
    n1 = 10
    n2 = 20
    result = func1(n1,n2)
    print(result)

In [33]:
calculate(plus) # plus 함수를 넘김
# calculate(plus(()) # plus() 호출해서  반환된 값을 넘김

30

In [167]:
def minus(num1, num2):
    return num1 - num2

In [168]:
def multiply(num1, num2):
    return num1 * num2

In [171]:
calculate(minus)
calculate(multiply)

-10
200

In [181]:
# 튜플을 받아서 index 0의 값을 반환.
def get_key(tu):
    return tu[1]

In [175]:
m = (99,2,3,4,5)
get_key(m), get_key((6,3,1,3,5))

(99, 6)

In [41]:
lst = [
    (1,2,3),
    (10,-10,5),
    (0,100,1)
]

In [197]:
# sorted(iterable, key = 함수) 정렬: 오름/내림차순
# 원소 하나 하나를 함수의 매개변수에 전달. 그 함수가 반환하는 값을 기준으로 정렬.
sorted(lst)

[(0, 100, 1), (1, 2, 3), (10, -10, 5)]

In [198]:
sorted(lst, key=get_key) # key 함수에 디폴트값이 아닌 index 1번값을 실행

[(10, -10, 5), (1, 2, 3), (0, 100, 1)]

In [199]:
sorted(lst, key=get_key, reverse = True)

[(0, 100, 1), (1, 2, 3), (10, -10, 5)]

In [200]:
sorted

In [201]:
def tu_sum(tu):
    return sum(tu)

In [202]:
sorted(lst, key=tu_sum) # 정렬기준: 원소의 값을 기준으로 작은값부터.

[(10, -10, 5), (1, 2, 3), (0, 100, 1)]

### 람다 표현식 ( 람다식 - Lambda Expression)
- 단일 구문으로 표현하는 익명 함수
    - 익명함수 : 이름(함수선언) 없이 구현만 가지고 있는 함수 표현식.
- 일회성 사용 함수를 만들때 주로 사용
    - 함수 호출시 매개변수에 함수를 전달할 때 많이 사용.
- 구문
```python
lambda [매개변수] : 실행문
```
- 실행문 : 하나의 구문만 가능. 실행문의 처리 결과를 자동으로 반환한다.(리턴 구문 생략)

In [220]:
#def plus(num1, num2):  # lambda 표현식으로 실행가능 하나의 함수만
#   return num1 + num2
p = lambda num1, num2 : num1 + num2
p(11,22)

33

```python
def calculate(func1):
    # n1, n2를 어떻게 처리할지 매개변수(func1)를 통해서 함수로 받는다
    n1 = 10
    n2 = 20
    result = func1(n1,n2)
    print(result)
```

In [221]:
calculate(lambda num1, num2 : num1+num2)

30

In [223]:
calculate(lambda num1, num2 : num1-num2)
calculate(lambda x, y : x*y)

-10
200

```python
lst = [
    (1,2,3),
    (10,-10,5),
    (0,100,1)
]
```

In [42]:
# 튜플들의 총합을 기준으로 sorting
sorted(lst, key=lambda t: sum(t))

[(10, -10, 5), (1, 2, 3), (0, 100, 1)]

In [43]:
sorted(lst, key=sum)

[(10, -10, 5), (1, 2, 3), (0, 100, 1)]

In [34]:
str_list = ["asdv", "ahg", "rhrhrtty", "brhrt"]

In [35]:
sorted(str_list)

['ahg', 'asdv', 'brhrt', 'rhrhrtty']

In [37]:
sorted(str_list, key = lambda x:len(x), reverse=True)

['rhrhrtty', 'brhrt', 'asdv', 'ahg']

In [40]:
sorted(str_list, key=len)

['ahg', 'asdv', 'brhrt', 'rhrhrtty']

In [38]:
def check_sec(s):
    return s[1]

In [39]:
sorted(str_list, key = check_sec)

['ahg', 'rhrhrtty', 'brhrt', 'asdv']

In [44]:
dic1 = {
    "b" : 500,
    "a" : 400,
    "c" : 50
}

In [46]:
sorted(dic1)

['a', 'b', 'c']

In [55]:
# value 기준으로 정렬하려는 경우( value 타입은 동일해야한다.)
result = sorted(dic1.items(), key = lambda x:x[1])
sorted_dic1 = {k:v for k,v in result}
sorted_dic1

{'c': 50, 'a': 400, 'b': 500}

In [51]:
dic1.items()

dict_items([('b', 500), ('a', 400), ('c', 50)])

- filter(함수, Iterable) : Iterable 의 원소들 중에서 특정 조건을 만족하는 원소만 걸러주는 함수.
    - 함수: bool값을 반환, 매개변수는 1개.
    - Iterable의 원소 하나 하나를 함수의 매개변수로 전달. 함수가 True를 반환하는 원소 반환.

- map(함수, Iterable): Iterable의 원소들 하나하나를 처리해서 그 처리결과를 반환
    - 함수: 어떻게 처리할지를 정의. 매개변수 1개. 반환값을 원소를 처리한 결과.
    
- filter / map 함수의 반환타입은 iterable(generator)

In [98]:
num_list = list(range(1,11))

In [69]:
flist = filter(lambda x: x%10 == 0, num_list)
print(list(flist))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [77]:
def check(x):
    return x%10==0

In [90]:
flist = filter(lambda x: x%10 == 0, num_list)
[i for i in flist if i%10==0]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [94]:
f = filter(check, num_list)
fl = list(f)

In [96]:
fl

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [106]:
#num_list의 각각의 값들 (원소들)을 10배한 값을 반환.
ml = map(lambda x: x*10, num_list)
list(ml)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

## docstring
- 함수 / class 에 대한 설명
- 함수 선언부와 구현부 사이에 여러줄 짜리 문자열(""" """)로 작성한다.
- 함수가 하는 역할. 매개변수 설명. 리턴값 설명.

In [107]:
def print_info(name, age, address):
    """
    회원의 정보를 출력하는 함수
    설명
    설명
    [매개변수]
        name : str - 회원이름
        age : int - 회원나이
        address : str - 회원주소
    [반환값]
        int: 나이의 10배 값을 반환.
    """
    print(f"name:{name}, age:{age}, address:{address}")
    return age*10

### pass 키워드(예약어)

In [110]:
def test():
    pass #
    #TODO 구현은나중에
if False:
    pass #
for i in range(19):
    pass #

In [114]:
# 1. 사용자가 입력한 단의 구구단을 출력하는 함수를 구현
n = int(input("Enter num"))
multiply(n)
def multiply(n):
    for i in range(1,10):
        print("{} X {} = {}".format(n, i, n*i))

Enter num5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [171]:
# 2. 시작 정수, 끝 정수를 받아 그 사이의 모든 정수의 합을 구해서 반환하는 함수를 구현
def sumall(num1, num2):
    return sum(range(min(num1,num2), max(num1,num2)+1))

In [ ]:
def sumall(a, b):
    for i in range(min(a,b), max(a,b)+1)

In [172]:
sumall(1, 5)

15

In [1]:
# 3. 1번 문제에서 시작을 받지 않은 경우 0을, 끝 정수를 받지 않으면 10이 들어가도록 구현을 변경
def sumall(num1=0, num2=10):
    return sum(range(min(num1,num2), max(num1,num2)+1))

In [174]:
lst = []

def my_sum2(num1=0, num2=10):
    for i in range(num1, num2+1):
        lst.append(i)
    return sum(lst)

In [3]:
sumall(num1=15)

75

In [4]:
def accumulate(*values):
    return sum(values)

In [5]:
accumulate(1,3,5,7,9)

25

In [21]:
# 4. 체질량 지수(體質量指數, Body Mass Index, BMI)는 비만도를 나타내는 지수로 키가 a미터 이고 몸무게가 b kg일때 b/a**2 로 구한다.
# 체질량 지수가
#- 18.5 미만이면 저체중
#- 18.5이상 25미만이면 정상
#- 25이상이면 과체중
#- 30이상이면 비만으로 하는데
#몸무게와 키를 매개변수로 받아 비만인지 과체중인지 반환하는 함수를 구현하시오.

def cal(height, weight):
    bmi = weight/height**2
    result = None
    if bmi < 18.5:
        result = "저체중"
    elif bmi < 25:
        result = "정상"
    elif bmi <30:
        result = "과체중"
    else:
        result = "비만"
    return result, round(bmi,2)
cal(1.80,80)
#cal(lambda x ,y : 1.80, 70)

('정상', 24.69)

In [12]:
#5. filter를 이용해 다음 리스트에서 양수만 추출히 리스트를 구현
ex1 = [1, -10, -2, 20, 3, -5, -7, 21]
f1 = filter(lambda x : x >0, ex1)
list(f1)

[1, 20, 3, 21]

In [22]:
[i for i in ex1 if i > 0]

[1, 20, 3, 21]

In [28]:
#6. filter와 map을 이용해 다음 리스트에서 음수만 추출한 뒤 그 제곱한 값들을 가지는 리스트를 구현
ex2 = [1, -10, -2, 20, 3, -5, -7, 21]
f2 = filter(lambda x : x <0, ex2)
f3 = map(lambda x : x**2, f2)
list(f3)

[100, 4, 25, 49]

In [26]:
[i **2 for i in ex2 if i < 0]

[100, 4, 25, 49]

In [31]:
m2 = map(lambda x : x ** 2, filter(lambda x : x < 0, ex2))
list(m2)

[100, 4, 25, 49]