In [1]:
# 실행: shift + ent / ctr + ent 
1+1+1

3

In [5]:
4^5

1

명령모드에서 m =>마크다운 모드 => y => 다시 코드작성모드.

In [29]:
# 변수명 = 값
age = 20.5000000
print(age)
age += 30

20.5

In [16]:
age+50

100

In [17]:
_age = 30
print(_age)

30

In [38]:
print(_age)

30

In [21]:
a = b  = 2

In [51]:
a+b+c

35

In [15]:

a,b = 10,20
print(a)
print(b)

10
20

In [72]:
w=1
e=3
m=0
while e>=1:
    w *= 2
    m += w
    e-=1
print(w)
print(m)

8
14

In [24]:
# Python 3: Fibonacci series up to n
def bbb(n):
        a, b = 0, 1
        while a < n:
            print(a, end=' ')
            a, b = b, a+b
bbb(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [32]:
def mo(n):
    x ,y, z= 1,2,0
    while x <n:
        z = y**x
        print(z, end=' ')
        x+=1;
mo(10)

2 4 8 16 32 64 128 256 512

# 논리형

In [38]:
print(3==5)
a = False
if(6<9):
    a=True
print(a)

False
True

In [79]:
aa = False
if((1<9) ^ (8<7)):
    aa = True
print(aa, False ^ True, False ^ False, True ^ False, True ^ True)

True True False True False

In [56]:
#False = 0, "", None;
print(bool("a")#True
,bool(""),#false
      bool(" ")#True
,bool(0),#False
bool(12))#True

True False True False True

In [67]:
#사전식 배열
"abc"<"abd" , "xab" < "abc"

(True, False)

In [65]:
(3<6,1<5), 5!=7

((True, True), True)

# None, Null 값 없음.

In [107]:
name = None #null 값
print(name, bool(name)) #null
print(name if bool(name) else "이름없음") #name 은 none 이름 false.이름없음 반환)
name = "hong"# 값 재할당
print(name, bool(name))
print(name if bool(name) else "이름없음") #name 이 true  이름 반환)

None False
이름없음
hong True
hong

# 문자열 (String)

In [109]:
# 텍스트 안에 " 나 '를 다르게 
txt = "I'm a boy"
txt1 = '민수가 말했다 "안녕"'
print(txt)
print(txt1)

I'm a boy
민수가 말했다 "안녕"

In [116]:
#글자 줄바꾸기 방법 \n or """ text """
txt3 = "안녕하세요. \n\t반갑습니다.\n잘가세요"
print(txt3)
txt4 = """안녕하세요
        반갑습니다.
잘가세요"""
print(txt4)

안녕하세요.
	반갑습니다.
잘가세요
안녕하세요
        반갑습니다.
잘가세요

# Indexing and Slicing

In [55]:
txt4 = "안녕하세요. 반갑습니다."
"안녕" in txt4, "하이" in txt4

(True, False)

In [16]:
print(len(txt4))# string length
print(txt4[0], txt4[7], txt4[-6]) #indexing
#slicing #index 2 to 5, index 0 to 5, every 0 and 3rd char from index 4 to 12
print(txt4[2:5], txt4[:5], txt4[4:12:3])

13
안 반 반
하세요 안녕하세요 요반니

In [1]:
print(txt4[-1:-14:-1]) # reverse string using negative index.

NameError: name 'txt4' is not defined

In [38]:
txt5 =""
i = 0
while i<len(txt4):
    if(txt4[i]==' '):
        i+=1
        continue
    else:
        txt5+=txt4[i]
        i+=1
print(txt5)

안녕하세요.반갑습니다.

In [43]:
print("".join(reversed(txt5)))
print(txt5[::-1])

.다니습갑반.요세하녕안
.다니습갑반.요세하녕안

In [51]:
txt6 = ""
for i in range(0, len(txt4)):
    if(txt4[i]!=" "):
        txt6 +=txt4[i]
        i+=1
    else:
        i+=1
print(txt6)

안녕하세요.반갑습니다.

# String formatting

In [74]:
myformat = "name:{}, age:{}, sex:{}"

info1 = myformat.format("hong", 20, "male")

info2 = myformat.format("Lee", 21, "female")
print(info1,info2)

name:hong, age:20, sex:male name:Lee, age:21, sex:female

In [5]:
my_format2 = "name:{name}, age:{age}, sex:{sex},name:{name},name:{name}"

f1 = my_format2.format(name="Kang",age=30, sex="male")

print(f1)

name:Kang, age:30, sex:male,name:Kang,name:Kang

In [77]:
name = "Jang"
age = 39
address = "Seoul"
my_format = "name:{}, age:{}, address:{}"
print(my_format.format(name, age, address))
print(f"name:{name}, age:{age}, address:{address}")

name:Jang, age:39, address:Seoul
name:Jang, age:39, address:Seoul

In [83]:
print("name : %s, age: %d, height: %.2f, address: %s" %('Hong', 33, 180.55, 'Seoul'))

name : Hong, age: 33, height: 180.55, address: Seoul

In [84]:
#함수사용- len()
len(my_format)

27

In [86]:
#메소드 사용 - format()
my_format.format(1,2,3)

'name:1, age:2, address:3'


# String methods 
### split() // split string 
### strip(), lstrip(), rstrip() //remove empty string
### replace(a,b) // replace a to b;
### count() // count a specific charater in a string
### index(), find()
### upper(), lower()
### startswith(), endswith()

In [91]:
str = "apple, melon, grape, orange" # split
result = str.split(", ")
print(result)

['apple', ' melon', ' grape', ' orange']

In [105]:
str1 = "      a  b  c       "
result1 = str1.strip()
result2 = str1.lstrip()
print(result1, len(result1))
print(result2, len(result2))

a  b  c 7
a  b  c        14

In [99]:
customer_id =  input("Id :")

Id : aaaaa

In [100]:
print(len(customer_id))# Empty string in user input

6

In [101]:
customer_id = customer_id.strip()# Remove empty string
print(len(customer_id))

5

In [29]:
text = ",,,,,123...............water....pp"
print(text.lstrip(',123.p')) # Remove every charaters in a string
print(text.rstrip(',123.pr'))
print(text.strip(',123p'))
print(text.strip('.,123p'))

water....pp
,,,,,123...............wate
...............water....
water

In [104]:
result3 = str.replace("apple", "banana")#replace apple to banana
result3

'banana, melon, grape, orange'

In [114]:
str2 = "Student"
print(str2.count("t"))#count
print(str2.index("t"))#if condition is not in a string returns error.
print(str2.find("u"))
print(str2.find("b"))# returns false
print(str2.upper())#upper cases
print(str2.lower())

2
1
2
-1
STUDENT
student

In [117]:
file_name = "picture.jpg"
print(file_name.endswith("jpg"))
file_name.endswith("png")

True

False

In [8]:
#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오
s1 = "901211-1027213"
print(s1[:6])
l=s1.split("-")
print(l[0])

901211
901211

In [3]:
#2.  "안녕하세요" 를 10번 출력하시오.
s2 = "안녕하세요"
print((s2 + "\n") * 10)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [18]:
#3. 
name="TV" 
price=300000 
maker = "LG"
# 위 변수의 값을 다음과 같은 형태로 출력하시오.
#"제품명 : TV, 가격 : 300000, 제조사 : LG"
print(f"제품명: {name}, 가격: {price}, 제조사: {maker}")
print("제품명: {}, 가격: {}, 제조사: {}".format(name,price,maker))
print("제품명: %s, 가격: %d, 제조사: %s" % (name,price,maker))
print("제품명:", name, "가격:", price, "제조사:", maker, sep="===")

제품명: TV, 가격: 300000, 제조사: LG
제품명: TV, 가격: 300000, 제조사: LG
제품명: TV, 가격: 300000, 제조사: LG
제품명:===TV===가격:===300000===제조사:===LG

In [20]:
#4
fruits = "사과 복숭아 귤 배"
# 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.
print("수박" in fruits)
fruits.find("수박")

False

-1

In [31]:
#5.
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
# str_value에 a가 몇개 있는지 출력하시오.
str_value.count("a")

9

In [32]:
#6.
# 다음 문자열에서 '-'를 제거 후 출력하세요.
tel = "010-7777-9999"
tel.replace("-", "")

'01077779999'

In [35]:
#7
# 다음 문자열 "Niceman" 에서 "man" 문자열만 출력하세요.
value = "Niceman"
print(value.index("man"))
print(value[4:])
print(value[-3:])
print(value[value.index("man"):value.index("man")+3])

4
man
man
man

In [123]:
# 8
# 다음 문자열(URL)에서 "http://" 부분을 제거 후 출력하세요. :
url = "http://daum.net" 
print(url.replace("http://", ""))
print(url[7:])

daum.net
daum.net

# 데이터 타입 변환 함수

In [36]:
#returns integer : int()
print(int(5.78), int(124.123))
print(int("100"))

5 124
100

In [37]:
print(int("abc")) # only returns numeric

ValueError: invalid literal for int() with base 10: 'abc'

In [38]:
print(int("50.1234"))

ValueError: invalid literal for int() with base 10: '50.1234'

In [39]:
v = input("number: ") #input() => returns string

number: 200

In [40]:
int(v) + 100

300

In [41]:
float(v) + 10.55

210.55

### 주석 단축키 : cnt + /

In [1]:
arr = [1, 1, 3, 3, 0, 1, 1]

In [4]:
print(arr[-1:])

[1]

In [27]:
print(set(arr))

{0, 1, 3}

In [60]:
def solution(arr):
    answer = []
    i = 0
    print(arr)  
    while i < len(arr):
        if arr[i] not in answer:
            answer += arr[i]
            i =i+1
        else:
            i = i+ 1
    return answer

In [61]:
arr = [1,1,3,3,0,1,1]
arr
solution(arr)

[1, 1, 3, 3, 0, 1, 1]

TypeError: 'int' object is not iterable

In [39]:
arr.pop(0)

1

In [ ]:
arr = [1,1,3,3,0,1,1]

In [73]:
arr[2]

3

In [105]:
i = 1
answer = arr[0]
while i < len(arr):
    if arr[i] not in answer:
        answer += arr[i]
        i +=1
    else:
        i+=1
    print(answer)

TypeError: argument of type 'int' is not iterable

In [ ]:
arr

In [8]:
m = []

In [112]:
i = 0
while i < len(arr):
    if arr[i] not in m:
        m += [arr[i]]
        i +=1
    else:
        i +=1

In [9]:
m

[]

In [12]:
len(arr)-1

6

In [13]:
for i in range(1,len(arr)-1):
    if arr[i-1] == arr[i] and arr[i] != arr[i+1]:
        m += [arr[i]]
    if i == len(arr)-2 and arr[i] == arr[i+1]:
        m += [arr[i]]

In [14]:
m

[1, 3, 1, 3, 1]

In [8]:
a = []
for i in arr:
    print(a[-1:])
    if a[-1:] == [i]:
        print("if in", a[-1:])
        continue
    a.append(i)
    print("result", a)

[]
result [1]
[1]
if in [1]
[1]
result [1, 3]
[3]
if in [3]
[3]
result [1, 3, 0]
[0]
result [1, 3, 0, 1]
[1]
if in [1]