# 자료구조

## List  []
 - 순서가있는 자료구조
      - 순서: index로 원소들이 관리된다. 추가한 순서대로 저장 관리.

In [20]:
nlist=[0,1,2,3,4,5,6,7,8,9,10]
print(len(nlist)) # list length
print(nlist[-1::-1]) #reverse all elements in the list
print(nlist[-1:0:-1]) #reverse list except 0
nlist[0:3] = [0,0,0,0,0,0,0,0,0,0] # replace elements 
print(nlist)
print(nlist[10]) # 10th element in the list
print(nlist[10:18:2]) # every 2nd elements from 10th to 18th
print(len(nlist))
nlist[:8]=[] # remove 
nlist

11
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 4, 5, 6, 7, 8, 9, 10]
3
[3, 5, 7, 9]
18

[0, 0, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
A_info = ["홍길동", 20, "서울", 178.6, 70.5, '회사원', False]

In [2]:
A_info[0]

'홍길동'

In [22]:
# Nested list
nlist1 = [[1,2,3],
          [10,20,30],
          [100,200,300]]
nlist1

[[1, 2, 3], [10, 20, 30], [100, 200, 300]]

In [34]:
print(nlist1[0][0],
      nlist1[1][0],
      nlist1[2][0])
print(nlist1[1][2])

1 10 100
30

In [2]:
#List + List 
nlist2 = [1,2,3]
nlist3 = [10,20,30]
resultList = nlist2 + nlist3
resultList

[1, 2, 3, 10, 20, 30]

In [4]:
# List * num
resultList1 = nlist2 * 3
resultList1

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [91]:
# List 대입
a = [1,2,3]
v1 = a[0]
v2 = a[1]
v3 = a[2]
v3

3

In [16]:
v1, v2, v3 = [10,20,30]
v3

[1, 2, 3]

In [14]:
n1,n2,n3 = a   #
print(n1,n2,n3)

1 2 3

In [17]:
# in, not in List
c_list = ["seoul", "busan", "incheon"]
"seoul" in c_list

True

In [20]:
"busan" not in c_list

False

In [19]:
"daegu" in c_list

False

### 주요 메소드

In [45]:
a.append(5)
print(a)
c_list.append("Jeju")
print(c_list)

[30, 20, 10, 5, 3, 2, 1, 5, 5]
['seoul', 'busan', 'incheon', 'Jeju', 'Jeju']

In [92]:
a.extend([10,20,30])
a

[1, 2, 3, 10, 20, 30]

In [57]:
a.sort()
a

[1, 2, 3, 9, 10, 20, 30, 99, 999]

In [58]:
a.sort(reverse=True)
a

[999, 99, 30, 20, 10, 9, 3, 2, 1]

In [59]:
b = (sorted(a)) # 원본은 놔두려할때 sorted() 함수사용.
print(b)
print(a)

[1, 2, 3, 9, 10, 20, 30, 99, 999]
[999, 99, 30, 20, 10, 9, 3, 2, 1]

In [60]:
a.insert(1, 100)
a

[999, 100, 99, 30, 20, 10, 9, 3, 2, 1]

In [61]:
a.remove(100)
a

[999, 99, 30, 20, 10, 9, 3, 2, 1]

In [64]:
a.remove(a[5])
# del a[index]
a

[30, 20, 10, 9, 3, 1]

In [51]:
a.index(10)

2

In [93]:
a = a + [999,99,9]
a

[1, 2, 3, 10, 20, 30, 999, 99, 9]

In [71]:
if 1 not in a:
    a.append(1)
    print(a)
else:
    print("Already exist\n",a)

Already exist
 [30, 20, 10, 9, 3, 1]

In [73]:
if 1 in a:
    a.remove(1)
    print(a)
else:
    print("No\n", a)

No
 [30, 20, 10, 9, 3]

In [74]:
plist = a.pop()
print(plist)
a

3

[30, 20, 10, 9]

In [75]:
a.pop(3)

9

In [76]:
a

[30, 20, 10]

In [77]:
a.extend([1,2,3,4,5,6,7,8])
a

[30, 20, 10, 1, 2, 3, 4, 5, 6, 7, 8]

In [79]:
len(a)  # number of elements in list "a"

11

In [80]:
a.count(6)

1

In [81]:
a.count(999)

0

In [83]:
a.clear() # delete all elements in the list
a

[]

# Tuple  ()
### 튜플은 리스트와 같이 순서대로 원소들을 저장하는 자료구조이다.
### 리스트와 다른 점은 원소를 변경할 수 없다.
### 튜플은 각 위치(Index) 마다 정해진 의미가 있고 그 값이 한번 설정되면 바뀌지않는 경우에 많이 사용한다.
### 튜플은 값의 변경되지 않으므로 안전하다

In [84]:
tuple1 = (1,2,3)
tuple2 = 6,7,8,9

In [86]:
type(tuple1)

tuple

In [89]:
print(tuple2)

(6, 7, 8, 9)

In [94]:
#list to tuple
tuple3 = tuple(a)
tuple3

(1, 2, 3, 10, 20, 30, 999, 99, 9)

In [98]:
#tuple to list
nlist4 = list(tuple3)
nlist4

[1, 2, 3, 10, 20, 30, 999, 99, 9]

In [99]:
nlist4.remove(999)
nlist4

[1, 2, 3, 10, 20, 30, 99, 9]

In [100]:
print(tuple3)
tuple3 = tuple(nlist4)
tuple3

(1, 2, 3, 10, 20, 30, 999, 99, 9)

(1, 2, 3, 10, 20, 30, 99, 9)

In [102]:
print(tuple1)
tuple1 = tuple1 + tuple2
tuple1

(1, 2, 3, 6, 7, 8, 9)

(1, 2, 3, 6, 7, 8, 9, 6, 7, 8, 9)

# Dictionary {key, value}
    key-value 쌍으로 값을 모아서 관리
    key 값은 중복을 허용하지 않는다. (이미 있는 key값으로 추가하면 변경이 된다.)
    value 저장값은 중복 가능.

In [119]:
dic1 = {"melon":10, "orange":20, "banana":50}
dic2 = {"name": "hong", "age": 33, "address":"Seoul"}
type(dic1)

dict

In [106]:
#조회: indexer[키]
dic1["banana"]

50

In [107]:
dic2["name"], dic2["age"]

('hong', 33)

In [108]:
dic2["weight"] = 80

In [109]:
dic2

{'name': 'hong', 'age': 33, 'address': 'Seoul', 'weight': 80}

In [110]:
dic2["weight"] = 99
dic2

{'name': 'hong', 'age': 33, 'address': 'Seoul', 'weight': 99}

In [111]:
val = dic2.get("name")
print(val)

hong

In [115]:
dic2.keys()

dict_keys(['name', 'age', 'address', 'weight'])

In [113]:
dic2.values()

dict_values(['hong', 33, 'Seoul', 99])

In [114]:
dic2.items()

dict_items([('name', 'hong'), ('age', 33), ('address', 'Seoul'), ('weight', 99)])

In [ ]:
# dict() : 딕셔너리 생성 함수
# dict(key=value, key=value, key=value)

In [118]:
dic3 = dict(name = "hong", age = 30,address=44, Weight=77)
print(dic3)
type(dic3)

{'name': 'hong', 'age': 30, 'address': 44, 'Weight': 77}

dict

# Set {}
    중복 x, 순서 x
    indexing X, slicing X

In [2]:
set1 = {1,2,3,4,5}
set1

{1, 2, 3, 4, 5}

In [127]:
set2 = {50,40,10,70,20}
set2

{10, 20, 40, 50, 70}

In [128]:
set3 = {1,1,2,2,1,3,4,5,4,4,3,3}
set3

{1, 2, 3, 4, 5}

In [129]:
for v in set3:
    print(v)

1
2
3
4
5

In [130]:
slist = [1, 1, 2, 2, 3, 4, 4]
slist

[1, 1, 2, 2, 3, 4, 4]

In [132]:
set4 = set(slist)
set4

{1, 2, 3, 4}

In [3]:
set1.pop()

1

In [5]:
# 값 추가 메소드
set1.add(9)
set1

{2, 3, 4, 5, 9}

In [6]:
slist = [10,20,30,40,100,200,200]
slist

[10, 20, 30, 40, 100, 200, 200]

In [7]:
print(set1)
set1.update(slist)
set1

{2, 3, 4, 5, 9}

{2, 3, 4, 5, 9, 10, 20, 30, 40, 100, 200}

In [8]:
set1.remove(40)
set1

{2, 3, 4, 5, 9, 10, 20, 30, 100, 200}

In [31]:
v1 = 10000
if v1 in set1:
    set1.remove(10000)
    print("num " + str(v1) + " deleted")
    print("the number",v1, "deleted")
else:
    set1.add(v1)
    print(set1)

num10000 deleted
the number 10000 deleted

In [23]:
#교집합
set2 = {1,2,3,4}
set3 = {3,4,5,6}
set4 = set2 & set3
set5 = set2.intersection(set3)
print(set4)
print(set5)

{3, 4}
{3, 4}

In [22]:
#합집합
set6 = set2 | set3
set7 = set2.union(set3) # 
print(set6)
print(set7)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [24]:
#차집합
set8 = set2 - set3
set9 = set2.difference(set3)
print(set8)
print(set9)

{1, 2}
{1, 2}

### 자료구조 변환함수
- list(타입을 변경할 자료구조): 리스트로 변환
- tuple(타입을 변경할 자료구조): 튜플로 변환
- set(타입을 변경할 자료구조): 셋으로 변환
- 변경할 자료구조가 딕셔너리인 경우 key값을 원소로 가진다.
- 딕셔너리로 변환하는 함수는 없음

In [17]:
list({1,2,3,4,5})

[1, 2, 3, 4, 5]

In [18]:
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [21]:
tuple({"a":1, "b":2})

('a', 'b')

In [19]:
set([1,1,2,3,4])

{1, 2, 3, 4}

In [34]:
jumsu = [100,90,100,80,70,100,80,90,95,85]
# 위는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다. (문제1 ~ 7)
#(1)  7번의 점수를 출력하세요
jumsu[7]

90

In [35]:
#(2)  1번부터 5번까지의 점수를 출력하세요.
jumsu[:5]

[100, 90, 100, 80, 70]

In [50]:
#(3)  4, 5, 6, 7번의 점수를 출력하세요.
jumsu[3:7]

[80, 70, 100, 80]

In [51]:
#(4) 짝수번째 점수를 출력하세요.
jumsu[1::2]

[90, 80, 100, 90, 85]

In [52]:
#(5) 홀수번째 점수를 출력하세요.
jumsu[::2]

[100, 100, 70, 80, 95]

In [53]:
#(6) 9번의 점수를 20으로 변경하고 전체 출력하세요.
jumsu[8] = 20
jumsu

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [57]:
#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.
Sjumsu = set(jumsu)
Sjumsu

{20, 70, 80, 85, 90, 100}

In [59]:
#(8) 다음 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.
fruits = ["복숭아", "수박", "딸기"]
fruits.extend(["사과","뀰"])
fruits

['복숭아', '수박', '딸기', '사과', '뀰']

In [78]:
#(9)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성.
# 취미는 2개 이상의 값을 넣는다..
dict1 = dict(이름="Hong", 나이=30, email주소="nnn.n.com", 취미=["a","b"], 결혼유무=True)
dict1

{'이름': 'Hong',
 '나이': 30,
 'email주소': 'nnn.n.com',
 '취미': ['a', 'b'],
 '결혼유무': True}

In [86]:
#(10) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.
print(dict1.get("이름"),dict1.get("email주소"))
print(dict1["이름"], dict1["email주소"])

Hong nnn.n.com
Hong nnn.n.com

In [89]:
f'이름:{dict1["이름"]},이메일주소: {dict1["email주소"]}'

'이름:Hong,이메일주소: nnn.n.com'

In [123]:
#(11) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.
print(dict1["취미"][1])
print(dict1.get("취미")[1])
print(dict1.get("alc",))

마
마
None

In [117]:
#(12) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.
dict1["weight"] = 70
dict1["height"] = 180
dict1["취미"] = ["뮤","마","오"]
dict1

{'이름': 'Hong',
 '나이': 30,
 'email주소': 'nnn.n.com',
 '취미': ['뮤', '마', '오'],
 '결혼유무': True,
 'weight': 70,
 'height': 180}