# 제어문
- 조건문
    - if else
- 반복문
    - while
    - for in
- 컴프리핸션(comprehension)

In [4]:
bool(0) #자료구조 원소가 0 = false 이상이면 true

False

In [1]:
num = 0
if (num == 0 or num == 10):
    print("0 입니다.")
    print("It's zero.")
else:
    print("No")
print("End")

0 입니다.
It's zero.
End

In [2]:
num = -1
if not num:
    print("0 입니다.")
    print("It's zero.")
else:
    print("No")
print("End")

No
End

In [36]:
city = input("City name: ").strip()
if city == "서울":
    print(city,"특별시",sep="") # print(f"{city}특별시")
#elif city or "인천"or city =="부산" or city =="대구"\
#or city =="광주" or city =="울산":
#    print(city + "광역시")
elif city in ["인천","부산","대구","광주","울산"]:
    print(city + "광역시")
else:
    print(city + "일반시")

City name: 부산
부산광역시

# 반복문
- while
    - 조건이 true인 동안 반복
- for in 문
    - 문자열, 자료구조(리스트, 튜플, 셋, 딕셔너리)의 원소들을 하나씩 모두 조회할때 사용

In [51]:
lst = [1,7,9,11,15,17]

In [62]:
for i in lst:
    print(i,end=" ")

1 7 9 11 15 17

In [55]:
num = 0
while num<len(lst):
    print(lst[num],end=" ")
    num +=1

1 7 9 11 15 17

In [87]:
num1 = 1
while num1 in range(0,101):
    if num1 % 5 == 0:
        print(num1, end=" ")
    num1+=1

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

In [88]:
num2 = 1
flag = True
while flag:
    if num2 % 5 == 0:
        print(num2, end=" ")
    if num2 >100:
        flag = False
    num2+=1

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

In [98]:
for i in range(0,101,5):
    print(i, end=" ")

0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

## for in 
```python
- for 변수 in iterable:
    반복할 구문
```

In [105]:
fruits = ['apple', 'peach', 'orange','melon','pear','cherry']

In [111]:
index = 0
while index < len(fruits):
    print(fruits[index],end=" ")
    index += 2

apple orange pear

In [117]:
for i in fruits:
    print(i, end=" ")

apple peach orange melon pear cherry

In [118]:
for i in range(0,len(fruits),2):
    print(fruits[i],end=" ")

apple orange pear

In [130]:
dic = {"a":10,"b":20,"c":30}
for key in dic:
    print(key,end=" ")

a b c

In [131]:
for key in dic:
    print(dic[key],end=" ")

10 20 30

In [128]:
for v in dic.values():
    print(v,end=" ")
for v in dic.keys():
    print(v,end=" ")

10 20 30 a b c

In [127]:
for v in dic.items():
    print(v)

for v in dic.items():
    if v[0]=='b':
        print(v[1])

for key, value in dic.items():
    if key =="b":
        print(value)

('a', 10)
('b', 20)
('c', 30)
20
20

In [132]:
Nlist = [
    [1,2,3],
    [10,20,30],
    [100,200,300]
]

In [134]:
for v1, v2, v3 in Nlist:
    print(v1, v2, v3, sep="-", end=" | ")

1-2-3 | 10-20-30 | 100-200-300 |

In [152]:
for nl in Nlist:
    for v in nl:
        print(v,end=" ")
    print(nl[1],end=" /")

1 2 3 2 /10 20 30 20 /100 200 300 200 /

In [155]:
for s in "absdfkef가나라다라아가":
    print(s,end=" ")
    if s == "나":
        break

a b s d f k e f 가 나

In [158]:
for i in range(1,101):
    if(i%5 !=0):
        continue
    print(i,end=" ")

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

In [161]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    if i % 3 !=0:
        continue
    elif i == 9:
        break
    print(i)

3
6

In [1]:
while True:
    Uinput = input("enter: ")
    if Uinput =="quit":
        break

enter: adsf
enter: efe
enter: 393493
enter: gi
enter: quit

## for in 관련 내장함수
- range()
- enumerage()
- zip()

### range([start],end, [increase]) - [] not mandatory

In [2]:
#range 1 ~ 10-1, increae 2. 1,3,5,7,9
for i in range(1,10,2):
    print(i, end=" ")

1 3 5 7 9

In [8]:
lst = list(range(10,-5,-1))
lst

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4]

In [6]:
tu = tuple(range(20))
tu

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [7]:
se = set(range(20))
se

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [13]:
#변수를 '_': 반복문 내에서 사용하지 않겠다. => 관례
for _ in range(10):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

### enumerate(iterable , start=startNum )  start: not mandatory

In [15]:
str_list = ["a","b","c","d","e"]
for s in enumerate(str_list):
    print(s)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [18]:
for idx, s in enumerate(str_list):
    print(idx, s)
    if idx ==3:
        print(s)

0 a
1 b
2 c
3 d
d
4 e

In [21]:
for idx, s in enumerate(str_list,start=1):#index numbering. start with 1.
    print(idx, s)

1 a
2 b
3 c
4 d
5 e

### zip(iterable, iterable[,...])

In [23]:
a1 =[1,2,3]
b1 = [10,20,30]
c1 = 100,200,300
d1 = {'a','b','c'}

In [24]:
for v in zip(a1,b1,c1,d1):
    print(v)

(1, 10, 100, 'c')
(2, 20, 200, 'b')
(3, 30, 300, 'a')

In [25]:
names = ['Hong', 'Lee','Park']
ages = [20,30,40]
heights = [170,180,190]

In [26]:
for info in zip(names,ages,heights):
    print(info)

('Hong', 20, 170)
('Lee', 30, 180)
('Park', 40, 190)

In [27]:
for name, age, height in zip(names,ages,heights):
    print(name,age,height)

Hong 20 170
Lee 30 180
Park 40 190

# Comprehension

In [31]:
clist = [1,2,3,4,5]
#clist의 원소들에 10을 더한 값들을 원소로 가지는 리스트를 생성. 
#clist [11,12,13,14,15]

In [32]:
clist2 = []
for num in clist:
    clist2.append(num + 10)
clist2

[11, 12, 13, 14, 15]

In [38]:
result = [num + 20 for num in clist]
result, type(result)

([21, 22, 23, 24, 25], list)

In [40]:
result2 = {num + 20 for num in clist}
result2, type(result2)

({21, 22, 23, 24, 25}, set)

In [39]:
result1 = {num:'a' for num in clist}
result1, type(result1)

({1: 'a', 2: 'a', 3: 'a', 4: 'a', 5: 'a'}, dict)

In [36]:
for num in enumerate(clist2):
    print(num)

(0, 11)
(1, 12)
(2, 13)
(3, 14)
(4, 15)

In [37]:
dic3 = {idx:num for idx,num in enumerate(clist2)}
print(dic3)
type(dic3)

{0: 11, 1: 12, 2: 13, 3: 14, 4: 15}

dict

In [42]:
dic4 = {}
for idx, num in enumerate(clist2):
    dic4[idx]= num
dic4, type(dic4)

({0: 11, 1: 12, 2: 13, 3: 14, 4: 15}, dict)

In [43]:
num_list =  list(range(100))

In [46]:
result3 = []
for num in num_list:
    if num %10 == 0:
        result3.append(num)
result3, type(result3)

([0, 10, 20, 30, 40, 50, 60, 70, 80, 90], list)

```python
[변수 for 변수 in iterable [for in 'or' if] [for in 'or' if] ...]
```

In [47]:
result4 = [num for num in num_list if num%10==0]
result4, type(result4)

([0, 10, 20, 30, 40, 50, 60, 70, 80, 90], list)

In [18]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점
score = int(input("Score"))
if score <0 or score > 100:
    print("Invalid number")
elif score > 90 and score <=100:
    print("A")
elif score >80:
    print("B")
elif score >70:
    print("C")
elif score >60:
    print("D")
else:
    print("F")

Score60
F

In [32]:
#(2) 아래 리스트의 평균을 구하시오.
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
sumall = 0
for j in jumsu:
    sumall += j
avg = sumall/len(jumsu)
print(avg)
print(sum(jumsu)/len(jumsu))

89.0
89.0

In [33]:
#(3) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)
for idx, score in enumerate(jumsu):
    if score >= avg:
        print(idx, "pass")
    else:
        print(f"{idx}-fail")

0 pass
1 pass
2 pass
3-fail
4-fail
5 pass
6-fail
7 pass
8 pass
9-fail

In [44]:
#(4) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]
i = 0;
maxNum = jumsu[0];
#while i < len(jumsu)-1:
#    if jumsu[i] < jumsu[i+1]:
#        maxNum = jumsu[i+1]
#    i+=1
#print(maxNum)

for num in jumsu:
    if num > maxNum:
        maxNum=num
print(f"최대값: {maxNum}")
print(f"최대값: {max(jumsu)}")
print(f"최소값: {min(jumsu)}")

최대값: 95
최대값: 95
최소값: 55

In [45]:
#(5) 다음 리스트 중에서 '정' 글자를 제외하고 출력하세요.
str_list = ["갑", "을", "병", "정"]
str = [n for n in str_list if n not in "정"]
str

['갑', '을', '병']

In [52]:
#(6) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오.
# ex) 단을 입력하시오 : 2
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18
num = int(input("number"))
#num2 = ["{} X {} = {}".format(num, i, num*i) for i in range(1,10)]
#print(num2)
#for j in num2:
#    print(j)
for i in range(1,10):
    #print(f"{num} X {i} = {num*i}")
    #print("{} X {} = {}".format(num, i, num*i))
    print("%d X %d = %d" % (num, i, num*i))

number8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

In [63]:
#구구단표 만들기. 마지막 print()다음라인
for i in range(1,10):
    for j in range(2,10):
        print((f"{j} X {i} = {i*j}"),end="\t")
    print()

2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

In [66]:
#컴프리헨션
#(7) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]
lst2 = [num*2 for num in lst] #mapping
lst2

[20, 60, 140, 10, 240, 1400, 2, 70]

In [67]:
#(8) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]
lstx = [ (l, l * 10) for l in lst]
#for z in zip(lst, lstx):
#    print(z)
lstx

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [68]:
#(9) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]
lst3 = [num for num in lst2 if num%3 == 0] #filtering
lst3

[3, 33, 21, 33, 60, 120]

In [68]:
#(10) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

f1 = [file for file in file_name if file.endswith(".exe")]
f1

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [73]:
#(11) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
f2 = [file for file in file_name if len(file)>= 10] 
f2

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [74]:
#딕셔너리로 파일명 :글자수
f3 = {file:len(file)for file in file_name if len(file)>= 10}
f3

{'mystroy.txt': 11, 'jupyter.bat': 11, 'function.exe': 12}

In [100]:
#최대 시도 횟수 10
import random
num = random.randint(1,100) # 1~100(포함) random integer number return.
print(num)
chance = 1
maxTry = 5
while True:
    print(f"- {chance}번째 시도")
    guessNum = int(input("- 1 ~ 100 사이 숫자를 입력하세요: "))
    if(guessNum > num):
        print(f">>> {guessNum}보다 더 작은 숫자를 입력하세요.")

    elif(guessNum < num):
        print(f">>> {guessNum}보다 더 큰숫자를 입력하세요.")

    elif(guessNum == num):
        print(f"- {chance}번째 성공.")
        break
    if(maxTry == chance):
        print("="*50)
        print(f"- 실패하셨습니다. 숫자는 {num}이였습니다.")
        print("="*50)
        break
    chance += 1
    print("="*50)

9
- 1번째 시도
- 1 ~ 100 사이 숫자를 입력하세요: 1
>>> 1보다 더 큰숫자를 입력하세요.
==================================================
- 2번째 시도
- 1 ~ 100 사이 숫자를 입력하세요: 50
>>>50보다 더 작은 숫자를 입력하세요.
==================================================
- 3번째 시도
- 1 ~ 100 사이 숫자를 입력하세요: 4
>>> 4보다 더 큰숫자를 입력하세요.
==================================================
- 4번째 시도
- 1 ~ 100 사이 숫자를 입력하세요: 5
>>> 5보다 더 큰숫자를 입력하세요.
==================================================
- 5번째 시도
- 1 ~ 100 사이 숫자를 입력하세요: 6
>>> 6보다 더 큰숫자를 입력하세요.
- 실패하셨습니다. 숫자는 9이였습니다.
==================================================