In [8]:
# 실행: shift + enter, control + enter
1+1+1+1+1+1+5

11

In [9]:
# enter: 편집모드(edit mode), esc: 명령모드(command mode)
2+2

4

In [10]:
# 명령모드: a - 현재 셀 위에 셀을 추가. b - 아래 셀을 추가
#           x (dd) - 셀을 제거, z - 삭제 취소
#          control + s - 저장

명령모드에서 m => 마크다운(markdown) 모드 => 설명 
명령모드에서 y => 마크다운에서 코드작성 모드로 변경

In [11]:
# 대입/할당(assign): 변수명=값
age = 30

In [12]:
print(age)
print(age)
print(age)

30
30
30

In [13]:
print(30)
print(30)
print(30)

30
30
30

In [14]:
my_age = 20

In [15]:
age1 = 20
age2 = 30
age3 = 40

In [16]:
1age=20

SyntaxError: invalid syntax (<ipython-input-16-da4550140353>, line 1)

In [ ]:
나이=50
print(나이)

In [17]:
print(age1)

20

In [18]:
print(Age1) #age1

NameError: name 'Age1' is not defined

In [ ]:
my_age=20

In [ ]:
a = 20  #나이

In [ ]:
print(my_age)

In [ ]:
a = 10
b = 10
c = 10

In [ ]:
a = b = c = 10

In [ ]:
a + b + c

In [ ]:
print(a)

In [ ]:
a + 30

In [ ]:
del a #변수를 (메모리에서) 제거

In [ ]:
print(a)

In [ ]:
my_age=20 #정수
print(my_age)

In [ ]:
my_age #정수

In [ ]:
my_age = "스무살" #문자열
print(my_age)

In [ ]:
my_age #문자열

In [ ]:
type(my_age)

In [ ]:
a = 10
b = 20
c = 30

In [ ]:
a, b, c = 10, 20, 30

In [ ]:
print(a)
print(b)
print(c)

In [ ]:
age = 10  # 변수생성, 처음 값을 대입(초기화)
age = 20  # 재할당
age = 30  # 재할당
print(age)

# 데이터 타입
값(데이터)의 종류를 분류한 것

## 데이터 타입 종류
- 숫자형
    - 정수형(int, integer)
    - 실수형(float)
- 논리형 (bool, boolean) - 참/거짓
- 문자열 (str, string) - 글자
- None (리터럴값) - 없다.

## 숫자형

In [19]:
age = 30
tall = 175.32

In [20]:
type(age) #age변수의 데이터타입?

int

In [21]:
type(tall)

float

In [22]:
1 + 10

11

In [23]:
10 - age #10 - 30 (변수 age의 값)

-20

In [25]:
10 * 20

200

In [26]:
10 ** 2

100

In [27]:
10 ** 5

100000

In [29]:
10 / 3 #나누기

3.3333333333333335

In [30]:
10 / 4

2.5

In [31]:
10 // 3 #몫

3

In [32]:
10 // 4

2

In [34]:
10 % 3 # 나머지 연산 (모듈러스 연산자)

1

## 논리형

In [35]:
b1 = True  
b2 = False

In [36]:
print(b1)
print(b2)

True
False

In [ ]:
# 다른 타입의 값을 논리형으로 변환 bool(값)
# False: 숫자 - 0/0.0, 문자열 - "" (빈문자열-0글자), None
# True: 나머지

In [39]:
bool(10)

True

In [40]:
bool(-10)

True

In [41]:
bool(0)

False

In [42]:
bool("")

False

In [45]:
bool('abdasedfasfdasdfdsaf')

True

In [47]:
bool(" ") # 1글자 (공백도 글자)

True

In [48]:
bool(None)

False

In [49]:
# int(값) => 정수로 변환. 값: 실수, 논리형

In [50]:
int(True)  #True는 정수 1로 변환

1

In [51]:
int(False) #False는 정수 0으로 변환

0

In [53]:
# 비교연산자 -> 결과가 논리형
3 >= 5

False

In [58]:
3 <= 5

True

In [59]:
5 == 5

True

In [61]:
5 != 5

False

In [64]:
num = int(input("입력: "))

입력: 10

In [65]:
num > 5

True

In [66]:
"a" > "b"  #사전식 배열. 뒤에나오는 글자가 더 큰개념.

False

In [67]:
"abc" > "abk"

False

In [ ]:
# 논리 연산자: 피연산자/결과 가 논리형

In [69]:
True & False

False

In [70]:
True and False

False

In [72]:
False | False

False

In [74]:
False or False

False

In [77]:
3 > 2 and 5 < 3

False

In [79]:
(3 > 2) & (5 < 3)

False

In [80]:
(3 > 2) | (5 < 3)

True

In [86]:
False ^ True # xor 연산자.

True

In [83]:
True ^ True

False

In [84]:
False ^ False

False

In [88]:
not True

False

In [89]:
not False

True

In [93]:
not (num == 0)

True

In [94]:
num != 0

True

In [98]:
num = -10

In [ ]:
#참V if 조건 else 거짓V

In [99]:
"음수" if num < 0 else "양수" # 조건(num<0)이 True "음수"를 False "양수"를 반환

'음수'

## None
값 없음. null

In [101]:
name = None  # 이름이 없다.

In [102]:
print(name)

None

In [103]:
name = '홍길동' #재할당
# name = None

In [104]:
print(name)

홍길동

In [107]:
name = None
name = '홍길동'
bool(name)

True

In [108]:
name if bool(name) else "이름 없음" #이름이 있으면 그 이름 반환하고 없으면 "이름 없음"이 반환.

'홍길동'

In [109]:
name = ""  #False
bool(name)

False

## 문자열(String)

In [110]:
name = "홍길동"

In [111]:
name = '홍길동'

In [112]:
txt = "I'm a boy"

In [113]:
print(txt)

I'm a boy

In [114]:
txt2 = '길동이가 말했다. "안녕"'
print(txt2)

길동이가 말했다. "안녕"

In [118]:
txt = "안녕하세요.\n반갑습니다.\n저는 김성환입니다."
print(txt)

안녕하세요.
반갑습니다.
저는 김성환입니다.

In [117]:
txt2 = """안녕하세요
반갑습니다.
저는 김성환입니다."""
print(txt2)

안녕하세요
반갑습니다.
저는 김성환입니다.

In [122]:
# 문자열 + 문자열 => 두문자열을 합친다.  
"abc" + "def"  # "abcdef"

'abcdef'

In [123]:
name = "홍길동" #이름: 홍길동
value = "이름: "+ name
print(value)

이름: 홍길동

In [125]:
# str(값) => 값을 문자열로 변환
age = 20  #나이: 20
value = "나이: "+ str(age) # 20=> "20"
print(value)

나이: 20

In [126]:
str(True)  #True => "True"

'True'

In [ ]:
str(3.45)  #3.45 => "3.45"

In [133]:
float("3.45") + 10  # "3.45" => 3.45

13.45

In [134]:
"-" * 3

'---'

In [135]:
"abc" * 10

'abcabcabcabcabcabcabcabcabcabc'

In [138]:
print('이름: 홍길동')
print('-'*30)
print('주소: 서울')

이름: 홍길동
------------------------------
주소: 서울

In [139]:
"he" in "hello"

True

In [140]:
"he" not in "hello"

False

In [141]:
"abc" not in "hello"

True

In [143]:
address = "서울시 강남구 서초동"
"서초" in address

True

In [144]:
"종로" in address

False

In [145]:
len(address) #글자수

11

In [148]:
member_id = "abc1111"
"사용가능" if len(member_id) > 5 else "사용불가"

'사용가능'

In [149]:
"안녕하세요. 반갑습니다." # indexing: 여러개중에 하나 조회, slicing: 여러개중에 범위로 조회

13

### 문자열 indexing, slicing

In [150]:
value = "안녕하세요. 반갑습니다."
print(len(value)) #0 ~ 12

13

In [151]:
print(value[0])

안

In [152]:
print(value[3])

세

In [153]:
print(value[-1])

.

In [154]:
print(value[-5])

갑

In [157]:
print(value[15]) # 0 ~ 12, -1 ~ -13

IndexError: string index out of range

In [158]:
print(value[-20])

IndexError: string index out of range

In [162]:
value = "안녕하세요. 반갑습니다."
print(value[0:4])  # 0 ~ 4-1

안녕하세

In [164]:
print(value[0:5:2])

안하요

In [165]:
print(value[:5]) #시작 index 생략 => 0

안녕하세요

In [167]:
print(value[7:]) #끝 index생략 => 끝까지 가져온다.

반갑습니다.

In [172]:
print(value[3:-2])

세요. 반갑습니

In [177]:
print(value[-1:-14:-1])   #간격(step)생략 : 1이 기본값

.다니습갑반 .요세하녕안

In [180]:
print(value[:])

안녕하세요. 반갑습니다.

### 문자열 포메팅

In [191]:
my_format = "이름: {}, 나이: {}, 주소: {}, 주소: {}, 주소: {}"

f1  = my_format.format('홍길동', 30, "서울", "서울", "서울")
print(f1)

이름: 홍길동, 나이: 30, 주소: 서울, 주소: 서울, 주소: 서울

In [184]:
f2 = my_format.format('이영희', 25, '인천')
f3 = my_format.format('박영수', 20, '서울')

In [185]:
print(f2)

이름: 이영희, 나이: 25, 주소: 인천

In [186]:
print(f3)

이름: 박영수, 나이: 20, 주소: 서울

In [189]:
my_format2 = " 나이: {age}, 주소: {address}, 이름: {name}, 이름: {name}, 이름: {name}"

f4 = my_format2.format(name="홍길동", age=50, address='부산')
print(f4)

 나이: 50, 주소: 부산, 이름: 홍길동, 이름: 홍길동, 이름: 홍길동

In [4]:
name = "홍길동"
age = 40
address ="인천"

In [192]:
my_format = "이름: {}, 나이: {}, 주소: {}"
print(my_format.format(name, age, address))

이름: 홍길동, 나이: 20, 주소: 서울시 강남구 서초동

In [200]:
print(f"이름: {name}, 나이: {age}, 주소: {address}")

이름: 홍길동, 나이: 40, 주소: 인천

In [5]:
a = f"이름: {name}, 나이: {age}, 주소: {address}"
print(a)

이름: 홍길동, 나이: 40, 주소: 인천

In [212]:
print("이름 : %s, 나이: %d, 키: %.2f 주소: %s, %d%%" % ("홍길동", 20, 165.83, "서울", 50))

이름 : 홍길동, 나이: 20, 키: 165.83 주소: 서울, 50%

In [6]:
a = "이름 : %s, 나이: %d, 키: %.2f 주소: %s, %d%%" % ("홍길동", 20, 165.83, "서울", 50)
print(a)

이름 : 홍길동, 나이: 20, 키: 165.83 주소: 서울, 50%

In [213]:
# 함수 사용 - len()
len("안녕하세요")

5

In [215]:
# 메소드 사용 - format()
my_format.format(1,2,3)

'이름: 1, 나이: 2, 주소: 3'

In [216]:
my_format

'이름: {}, 나이: {}, 주소: {}'

### string 주요 메소드

In [219]:
value = "사과,귤,수박,복숭아"
value = "사과/귤/수박/복숭아"
result = value.split("/")  #, 를 기준으로 value의 문자열을 여러개로 나눠라.
result

['사과', '귤', '수박', '복숭아']

In [221]:
value = "파이썬 자바 C 루비"
result = value.split() #구분자의 기본값은 공백
result

['파이썬', '자바', 'C', '루비']

In [224]:
value = "    abc    "
result = value.strip()
print(result)
print(len(result))

abc
3

In [225]:
print(value)
print(len(value))

    abc
11

In [227]:
result = value.lstrip() # 왼쪽 공백만 제거
print(result)
print(len(result))

abc
7

In [228]:
result = value.rstrip() # 오른쪽 공백만 제거
print(result)
print(len(result))

    abc
7

In [245]:
customer_id = input("아이디:") #input() 문자열을 입력받는 함수.

아이디:111

In [246]:
print(len(customer_id))

3

In [247]:
customer_id = customer_id.strip()
print(len(customer_id))

3

In [233]:
value = "xxx홍길동xxx"
result = value.strip("x") # 좌우의 x를 제거
print(result)

홍길동

In [237]:
value = "abcdefabc"
result = value.replace("abc", "가나다")
result = value.replace("abc", "가")
result = value.replace("abc", "")
print(result)

def

In [239]:
value = 'a b c d    e'
# result = value.strip()
result = value.replace(" ", "")
print(result)

abcde

In [250]:
value = 'abcaaaaabc'
print(len(value)) #전체 글자수
print(value.count("abc")) #abc가 몇개인지

10
2

In [257]:
value = "안녕하세요. 반갑습니다. 안녕하세요."
# print(value.index("하세요"))
# print(value.index('반갑'))
print(value.index("안녕"))
print(value.index("안녕", 5)) # index 5 부터 찾아라.

0
14

In [253]:
print(value.index('abc'))

ValueError: substring not found

In [255]:
print(value.find("반갑"))
print(value.find('abc'))

7
-1

In [259]:
value = "abcDEFgh"
print(value.upper())
print(value.lower())

ABCDEFGH
abcdefgh

In [261]:
value = "Student"
print(value.lower() == "student")

True

In [263]:
value = "abc  def"
print(value.startswith("abc"))
print(value.startswith('abk'))

True
False

In [265]:
print(value.endswith('def'))
print(value.endswith('d'))

True
False

In [267]:
file_name = "abc.jpg"
print(file_name.endswith('jpg'))

True

In [27]:
txt = 'www.example.com'
txt.strip('cmow.')   # 좌우에 c, m, o, w .

'kw.example'

In [29]:
txt2 = '#....... Section 3.2.1 Issue #32 ...'
txt2.strip('#.! ') # #, . , !, 공백

'Section 3.2.1 Issue #32'

In [ ]:
# control + shift + -

In [10]:
#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오.
jumin = "901211-1027213"
print(jumin[:6])
l = jumin.split("-")
print(l[0])

901211
901211

In [11]:
#2.  "안녕하세요" 를 10번 출력하시오.
print("안녕하세요 "*10)

안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요

In [2]:
#3.
name="TV"
price=300000
maker = "LG"
# 위 변수의 값을 다음과 같은 형태로 출력하시오.
#"제품명 : TV, 가격 : 300000, 제조사 : LG"
print(f"제품명: {name}, 가격: {price}, 제조사: {maker}")
print("제품명: {}, 가격: {}, 제조사: {}".format(name, price, maker))
print("제품명: %s, 가격: %d, 제조사: %s" % (name, price, maker))

제품명: TV, 가격: 300000, 제조사: LG
제품명: TV, 가격: 300000, 제조사: LG
제품명: TV, 가격: 300000, 제조사: LG

In [3]:
print("제품명:", name, "가격:", price, "제조사:", maker)#, sep="=====")

제품명: TV 가격: 300000 제조사: LG

In [25]:
#4
fruits = "사과 복숭아 귤 배"
# 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.
result = "수박" in fruits
print(result)
result = fruits.find("수박")
print("없음" if result==-1 else "있음")

False
없음

In [30]:
#5.
# str_value에 a가 몇개 있는지 출력하시오.
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
print(str_value.count("a"))

9

In [33]:
#6.
# 다음 문자열에서 '-'를 제거 후 출력하세요.
tel = "010-7777-9999"
print(tel.replace('-', ""))

01077779999

In [39]:
#7
# 다음 문자열 "Niceman" 에서 "man" 문자열만 출력하세요.
value = "Niceman"
print(value[-3:])
s_idx = value.find("man")
print(s_idx)
print(value[s_idx:s_idx+3])

man
4
man

In [40]:
# 8
# 다음 문자열(URL)에서 "http://" 부분을 제거 후 출력하세요. :
url = "http://daum.net"
print(url.replace('http://', ""))

daum.net

### 데이터 타입 변환 함수

In [43]:
#정수로 변환: int()
print(int(5.78), int(124.123))
print(int("100"))

5 124
100

In [44]:
print(int("abc")) #정수형태의 문자열만 변환가능.

ValueError: invalid literal for int() with base 10: 'abc'

In [46]:
print(int("50.123"))

ValueError: invalid literal for int() with base 10: '50.123'

In [47]:
v = input("숫자: ") #input() 사용자로 부터 입력받는 함수. string으로 반환.

숫자: 200

In [50]:
print(int(v) + 100)

300

In [ ]:
# 실수로 변환 : float()

In [51]:
print(float(100))

100.0

In [54]:
print(float("5.123"), float("50"))

5.123 50.0

In [55]:
v = input("숫자: ")

숫자: 100.23

In [56]:
float(v)+200

300.23

In [57]:
# 문자열로 변환: str()

In [58]:
type(str(10))

str

In [59]:
str(10)+"개"

'10개'

In [60]:
str(20.45)

'20.45'

In [62]:
str(True) # "True"

'True'

In [68]:
print(str(True))

True

주석 단축키 : control + /

In [63]:
print(1)
print(2)
print(3)
print(4) # 주석
print(5)

1
2
5

In [64]:
print(float("5.123"))

5.123

In [65]:
float("5.123")

5.123

In [66]:
"A\nB\nC\n"

'A\nB\nC\n'

In [67]:
print("A\nB\nC\n")

A
B
C

In [72]:
print(1)
print(2)
print(3)

1
2
3

In [73]:
1
2
3
4
5

5

In [ ]:
REPL
Read
Evaluate
Print
Loop

In [76]:
a = 10+20
print(a)
b = 20+20
print(b)

30
40